* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.row-sec2 {
    margin: 0 -5px;
}

.column-sec2 {
    float: left;
    width: 40%;
    padding: 10px;
    height: 180px;
    margin-bottom: 100px;
    margin-left: 40px;
    word-wrap: break-word;
}

.column-sec2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: -15px;
    max-width: 100%;
    height: auto;
}

.column-sec2 p {
    color: darkgray;
    line-height: 1.6;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
}

.row-sec2:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column-sec2 {
        width: 100%;
        margin: 0px;
    }
}


/* Landing Page */

.section1 {
    overflow: hidden;
}

ul {
    list-style-type: none;
}

.topnav {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    padding-left: 5%;
}

.topnav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 24px 30px;
    display: block;
    float: left;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.topnav a:active,
.topnav a:hover {
    color: yellow;
}

.zippy {
    color: white;
    z-index: 1;
    font-size: 32px !important;
    margin-top: -10px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

.zippy:hover {
    color: white !important;
}

.sticky {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background: rgb(77, 73, 73);
}

.slideshow-container {
    max-width: 1800px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    background-size: 100% 100%;
}

.text {
    color: #f2f2f2;
    position: absolute;
    top: 30%;
    left: 5%;
    width: 100%;
    text-align: left;
}

.btn {
    padding: 10px 18px;
    border-radius: 0%;
    text-transform: uppercase;
    background: purple;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background: yellow;
    color: black;
}

.btn-1 {
    padding: 10px 18px;
    border-radius: 0%;
    text-transform: uppercase;
    background: purple;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-1:hover {
    background: yellow;
    color: black;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    background-color: rgb(194, 194, 194);
    border-radius: 50%;
    display: inline-block;
}

.active,
.dot:hover {
    background-color: gray;
}

@media screen and (max-width: 550px) {
    .zippy {
        font-size: 25px !important;
    }
    .topnav a {
        font-size: 9px;
    }
}


/*  Welcome to Zippy */

.section2 {
    margin-left: 18%;
    margin-right: 18%;
    border-bottom: 2px solid rgb(221, 221, 221);
    margin-bottom: 5%;
}

.header {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
}

.row-sec2 {
    margin: 0 -5px;
}

.row-sec2:after {
    content: "";
    display: table;
    clear: both;
}

.column-sec2 {
    float: left;
    width: 40%;
    padding: 10px;
    height: 180px;
    margin-bottom: 100px;
    margin-left: 40px;
    word-wrap: break-word;
}

.column-sec2 p {
    color: gray;
    line-height: 1.6;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
}

.column-sec2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: -15px;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .column-sec2 {
        width: 100%;
        margin: 0px;
    }
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 5%;
}

.card {
    border: none;
    outline: none;
    padding: 16px;
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
    text-align: center;
    margin-bottom: -15px;
}

.round-btn {
    padding: 14px 18px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 15px;
    border: none;
    outline: none;
    background: purple;
    color: white;
}

.iconify {
    width: 28px;
    height: 28px;
}

.card h3 {
    text-transform: uppercase;
    color: purple;
    font-size: 15px;
}

.card p {
    color: gray;
    line-height: 1.6;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


/* Projects */

.section3 {
    margin-bottom: 5%;
}

.row-sec3 {
    margin: 0 -5px;
}

.row-sec3:after {
    content: "";
    display: table;
    clear: both;
}

.column-sec3 {
    float: left;
    width: 422px;
    padding: 20px;
    padding-bottom: 5%;
    margin-left: -2px;
}

.card-sec3 {
    background-color: #f2f2f2;
}

.img-sec3 {
    max-width: 100%;
    height: 250px;
}

.container {
    padding: 2px 16px;
    color: black;
}

.card-sec3 h4 {
    text-transform: uppercase;
    font-size: 15px;
}

.card-sec3 p {
    text-align: justify;
    text-justify: inter-word;
}

.card-sec3:hover,
.card-sec3:visited {
    background: rgb(240, 240, 77);
}

.btn-sec3 {
    background: white;
    color: black;
}

.btn-sec3:hover,
.btn-sec3:visited {
    background-color: purple;
    color: white;
}

@media screen and (max-width: 600px) {
    .column-sec3 {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


/*Pricing Table*/

.section4 {
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 5%;
}


/*Video Projects*/

.section5 {
    background-color: purple;
    color: white;
    padding-top: 1px;
    padding-bottom: 5%;
}

.marquee-wrapper {
    overflow: hidden;
}

.marquee {
    display: flex;
    animation-name: marquee;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    transform: translateX(0);
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


/*Zippy Team*/

.section6 {
    margin-left: 18%;
    margin-right: 18%;
}

.team {
    position: relative;
}

.image {
    border-radius: 50%;
    cursor: pointer;
}

.team:hover .image {
    opacity: 0.8;
    filter: grayscale(100%);
}

.facebook {
    position: absolute;
    text-align: center;
    top: 23%;
    left: 32%;
    color: white;
    opacity: 0;
    height: 22px;
}

.twitter {
    position: absolute;
    height: 22px;
    top: 23%;
    left: 45%;
    color: white;
    opacity: 0;
}

.google {
    position: absolute;
    color: white;
    top: 23%;
    left: 58%;
    opacity: 0;
    height: 22px;
}

.team:hover .facebook {
    opacity: 1;
}

.team:hover .twitter {
    opacity: 1;
}

.team:hover .google {
    opacity: 1;
}

.name {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    margin-top: 25px;
    font-size: 14px;
}


/*Life in Zippy*/

.section7 {
    background-color: #f2f2f2;
    padding-top: 2px;
    padding-bottom: 2%;
}

#dispimg {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

#img-gallery {
    margin: auto;
    height: auto;
    max-width: 800px;
    width: 680px;
    display: flex;
    align-items: center;
}

.prev-next {
    width: 45px;
    height: 68px;
    cursor: pointer;
    color: white;
    padding-top: 17px;
    background-color: rgb(156, 152, 152);
}

.prev-next:hover {
    background-color: purple;
}

#lifeimg-gallery {
    display: flex;
    width: 800px;
    overflow: auto;
}

.lifeimg {
    object-fit: cover;
    max-width: 130px;
    max-height: 70px;
    cursor: pointer;
    opacity: 0.8;
    margin: 5px;
}

.lifeimg:hover {
    opacity: 1;
    border: 2px solid black;
}

#lifeimg-gallery::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 700px) {
    #img-gallery {
        max-width: 480px;
    }
    #dispimg {
        width: 120%;
    }
}


/*Newsletter signup*/

.section8 {
    text-align: center;
}

.section8 .header {
    color: white;
    font-weight: 500;
}

.bg-img {
    background-image: url("https://wallup.net/wp-content/uploads/2018/03/23/561569-mathematics-geometry-simple-_grey-748x421.jpg");
    min-height: 480px;
    opacity: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.center {
    margin: auto;
    width: 40%;
    padding-bottom: 100px;
}

input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

.bttn {
    background-color: yellow;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    float: center;
    opacity: 0.9;
    font-weight: bold;
}

.bttn:hover {
    opacity: 1;
}


/*Blog*/

.section9 {
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 5%;
}

.section9 img {
    margin-top: 1%;
}

.section9 card p {
    font-weight: bold;
}

.section9 button {
    background-color: #f2f2f2;
    color: black;
}


/*Contact*/

.section10 {
    margin-bottom: 5%;
    background-color: rgb(239, 241, 83);
}

.container-sec10 {
    border-radius: 5px;
    padding: 10px;
}

.row-sec10 {
    margin: -10px;
    height: 500px;
    border-radius: 0%;
}

.column-sec10 {
    float: left;
    width: 50%;
    padding: 20px;
    margin: -20px;
}

.column-sec10 img {
    width: 100%;
    height: 500px;
    max-width: 100%;
}

.part2 {
    padding-left: 40px;
}

.container-sec10 input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border: none;
    outline: none;
}

.container-sec10 input[type=submit] {
    background-color: indigo;
    width: 100%;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.container-sec10 input[type=submit]:hover {
    opacity: 0.8;
}

@media screen and (max-width: 600px) {
    .section10 {
        background-color: white;
    }
    .row-sec10 {
        margin-left: 10%;
    }
    .column-sec10 {
        background-color: rgb(243, 199, 116);
        margin: -2%;
        padding-left: 5%;
        margin-left: -5%;
    }
    .column-sec10 img {
        margin-left: 0px;
    }
    .column-sec10,
    input[type=submit] {
        width: 100%;
        margin-top: -5%;
    }
}


/*Footer*/

.footer {
    margin-left: 18%;
    margin-right: 18%;
}

.card-footer h3,
.card-footer p {
    color: black;
}

.card-footer p {
    margin-top: 8px;
}

.icon {
    justify-content: center;
    margin: 8px 12px;
    width: 20px;
    height: 20px;
}

.icon:hover {
    opacity: 0.5;
    cursor: pointer;
}
